{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}

{% block contenido %}
    <div class="row gx-5 justify-content-center">
            <div class="col-lg-12">
            <div class="text-center my-50">
            <h1 class="display-5 fw-bolder text-black mb-2">NEWS</h1>
    <div>
    <div class="submenu">
        <div class="dropdown">
            <button class="dropdown-btn">Categorías</button>
            <div class="dropdown-content">
            <a href="{% url 'noticias:listar' %}">Todas las noticias</a>
            {% for cat in categorias %}
            <a href="?categoria={{ cat.pk }}">{{ cat.nombre }}</a>
            {% endfor %}
            </div>
        </div>
        <div class="dropdown">
            <button class="dropdown-btn">Ordenar</button>
            <div class="dropdown-content">
            <a href="?antiguedad_asc=1">Más antiguas primero</a>
            <a href="?antiguedad_desc=1">Más recientes primero</a>
            <a href="?orden_asc=1">Orden alfabético ascendente</a>
            <a href="?orden_desc=1">Orden alfabético descendente</a>
            </div>
        </div>
        <a href="?antiguedad_asc=1">
            <button class="arrow-btn">&#11014;</button>
          </a>
          <a href="?antiguedad_desc=1">
            <button class="arrow-btn">&#11015;</button>
          </a>
    </div>
    <br>
    {% if noticias %}
        {% for noti in noticias %}
            <img src="{{ noti.imagen.url }}" width="150">
            <p><a href="{% url 'noticias:detalle' noti.pk %}"><strong>ADD COMMENT:</strong> {{ noti.titulo }}</a></p>
           <strong> <p>FECHA:</strong> {{ noti.fecha_de_publicacion }}</p>
           <strong><p>CATEGORIA:</strong> {{ noti.categoria_noticia }}</p>
            <strong><p>CONTENIDO:</strong> {{ noti.contenido }}</p>
        {% endfor %}
    {% else %}
        <h2>No hay noticias</h2>
    {% endif %}

{% endblock contenido %}
