{% extends 'base.html' %}
{% load static %}
{%block contenido %}
    <!-- <head> <link rel="stylesheet" type="text/css" href="{% static 'miapp/css/miarchivo.css' %}"></head> -->
        <!-- Header-->
        
        <header class="bg-dark py-5 video-header">
            <video autoplay loop muted playsinline class="fullscreen-video">
                
                <source src="{% static 'network.mp4' %}" type="video/mp4">
                <!-- Agrega otros formatos de video aquí para mejorar la compatibilidad -->
            </video>
            
        
            <div class="container px-5">
                <!-- Contenido sobre el video -->
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Yatchflix</h1>
                            <p class="lead text-white-50 mb-4">Welcome user, find the best movies, documentaries and series. We provide you with the most effective and easy way to watch whatever you want whenever you want at any time.</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'login' %}">Login</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="{% url 'registro' %}">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"> <img width="200" height="250" src="{% static 'assets/ghost.jpg' %}" alt=""></div>
                        <h2 class="h4 fw-bolder">Ghostbusters</h2>
                        <p>Four unemployed paranormal investigators create a company in New York with the purpose of cleaning the city of ghosts.</p>
                        <a class="text-decoration-none" href="https://www.youtube.com/watch?v=6hDkhw5Wkas&ab_channel=RottenTomatoesClassicTrailers">
                            Watch the trailer 
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><img width="200" height="250" src="{% static 'assets/future.jpg' %}" alt=""></div>
                        <h2 class="h4 fw-bolder">Back to the future 2</h2>
                        <p>A teenager and a quirky inventor travel back in time and into the future to alter a series of disastrous events.</p>
                        <a class="text-decoration-none" href="https://www.youtube.com/watch?v=MdENmefJRpw&ab_channel=RottenTomatoesClassicTrailers">
                            Watch the trailer 
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><img width="200" height="250" src="{% static 'assets/beet.jpg' %}" alt="">></div>
                        <h2 class="h4 fw-bolder">Beetlejuice</h2>
                        <p>A couple who have just died hire a vulgar ghost to scare the new occupants of their house.</p>
                        <a class="text-decoration-none" href="https://www.youtube.com/watch?v=ickbVzajrk0&ab_channel=RottenTomatoesClassicTrailers">
                            Watch the trailer 
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing section-->
        
        <!-- Testimonials section-->
        <section class="py-5 border-bottom">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Testimonials.</h2>
                    <p class="lead mb-0">Our members love us.</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- Testimonial 1-->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Best digital web application to see what you want, I have never seen anything like this before. Very fast and effective!</p>
                                        <div class="small text-muted">- Marcus Thorne, Wellington-New Zealand</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 2-->
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Amazing! I have no words to describe how wonderful this application is. Highly recommended!</p>
                                        <div class="small text-muted">- Ava Winters, London-England</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
{% endblock contenido %}
        